<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>ШРИ [team4]</title>
</head>
<body>
    <div class="layout">
        <img src="logo.png" alt="" class="layout__logo">
        <div class="layout__search">
            <div class="layout__search__label">
                <a href="#" class="layout__search__label__link">Погода</a>
            </div>
            <input class="layout__search__input" type="text">
            <button class="layout__search__button">Найти</button>
        </div>
    </div>
</body>
</html>
