$nameFontSize: 22px;
$otherFontSize: 13px;

$dropdownPaddingTop: 7px;
$dropdownPaddingLeft: 14px;
$allCitiesHeight: 30px;

$spritePath: '../images/city-select-sprite.png';

.city-select
{
    position: relative;

    &__city
    {
        &-name
        {
            display: inline-block;
            font-size: $nameFontSize;
            min-width: 154px;
        }

        &-dropdown-group
        {
            display: inline-block;
        }

        &-other
        {
            font-size: $otherFontSize;
            cursor: pointer;
        }

        &-other::after
        {
            display: inline-block;
            content: ' ';
            width: 20px;
            height: 10px;
            margin-left: 5px;
            background-image: url($spritePath);
            background-position: -15px -1px;
            background-repeat: no-repeat;
        }

        &-dropdown
        {
            position: absolute;
            display: none;
            padding: $dropdownPaddingTop $dropdownPaddingLeft $allCitiesHeight;
            margin-top: 10px;
            border: 1px solid rgba(0, 0, 0, 0.15);
            white-space: nowrap;
            background: #fff;
            z-index: 100;
        }

        &-all
        {
            position: absolute;
            display: inline-block;
            left: 0;
            bottom: 0;
            width: 100%;
            height: $allCitiesHeight;
            padding-left: $dropdownPaddingLeft;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            vertical-align: middle;
            line-height: $allCitiesHeight;
            border-top: 1px solid rgba(0, 0, 0, 0.2);
        }
    }

    &__recent-list
    {
        list-style: none;
        padding: 0;

        &-element {
            line-height: 24px;
        }

        &-link
        {
            position: relative;
            margin-left: 20px;
            color: #000;
            text-decoration: none;

            &_active::before
            {
                content: ' ';
                position: absolute;
                top: 0;
                left: -20px;
                display: inline-block;
                width: 15px;
                height: 100%;
                background-image: url($spritePath);
                background-position: 0;
                background-repeat: no-repeat;
            }
        }

    }
}
