.forecast_hours
{
    margin: 30px 0 0;
}

.forecast_hours__svg_bar rect
{
    shape-rendering: crispEdges;
}

.forecast_hours__svg_axis path,
.forecast_hours__svg_axis line
{
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
