html,
body,
span
{
    margin: 0;
}

body
{
    font: 400 13px Arial, Helvetica, sans-serif;

    padding: 0;

    text-align: left;

    color: #000;
    background: #fff;
}

h1
{
    font: 400 36px Verdana, Helvetica, sans-serif;

    margin: 0 0 40px;
    padding: 0 0 10px;

    text-align: right;

    border-bottom: 4px solid #fc3;
}

h1 span
{
    color: #f00;
}

h2
{
    font: 700 20px Tahoma, Geneva, sans-serif;

    margin: 40px 0 20px;
    padding-bottom: 11px;
}

h2 span
{
    color: #f00;
}

table
{
    overflow: hidden;

    width: 100%;
    margin: 10px 0;

    border-spacing: 2px;

    text-align: center;

    border: 2px solid #fc3;
}

thead tr
{
    font-size: 11px;
    font-weight: 700;

    color: #f30;
    background: #fc3;
}

th,
td
{
    padding: 10px;
}
