$nameFontSize: 22px;
$otherFontSize: 13px;

$dropdownPaddingTop: 7px;
$dropdownPaddingLeft: 14px;
$allCitiesHeight: 30px;

$spritePath: '../images/city-select-sprite.png';

.city-select
{
    position: relative;
    padding-left: 10px;
}

.city-select__city-name
{
    display: inline-block;
    font-size: $nameFontSize;
    min-width: 154px;
}

.city-select__city-dropdown-group
{
    display: inline-block;
}

.city-select__city-other
{
    font-size: $otherFontSize;
    cursor: pointer;
}

.city-select__city-other::after
{
    display: inline-block;
    content: ' ';
    width: 20px;
    height: 10px;
    margin-left: 5px;
    background-image: url($spritePath);
    background-position: -15px -1px;
    background-repeat: no-repeat;
}

.city-select__city-dropdown
{
    position: absolute;
    display: none;
    padding: $dropdownPaddingTop $dropdownPaddingLeft $allCitiesHeight;
    margin-top: 10px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    white-space: nowrap;
}

.city-select__recent-list
{
    list-style: none;
    padding: 0 0 0 20px;
}

.city-select__recent-list-element
{
    line-height: 22px;
    position: relative;
}

.city-select__recent-list-element_active::before
{
    content: ' ';
    position: absolute;
    left: -20px;
    display: inline-block;
    line-height: 22px;
    width: 15px;
    height: 100%;
    background-image: url($spritePath);
    background-position: 0;
    background-repeat: no-repeat;
}

.city-select__city-all
{
    position: absolute;
    display: inline-block;
    left: 0;
    bottom: 0;
    width: 100%;
    height: $allCitiesHeight;
    padding-left: $dropdownPaddingLeft;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    vertical-align: middle;
    line-height: $allCitiesHeight;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}
