$containerHeight : 300px;

.forecast_hours {

    width: 100%;
    height: $containerHeight;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    &__column {
        position: relative;
        width: calc(100% / 24 - 1px);
        height: 100px; /*пока захардкодил*/

        &-temperature-minus-60{	background:#519fdd;}
        &-temperature-minus-58{	background:#56a2dd;}
        &-temperature-minus-56{	background:#5ba5de;}
        &-temperature-minus-54{	background:#60a7de;}
        &-temperature-minus-52{	background:#66aadf;}
        &-temperature-minus-50{	background:#6bade0;}
        &-temperature-minus-48{	background:#70afe0;}
        &-temperature-minus-46{	background:#76b2e1;}
        &-temperature-minus-44{	background:#7bb5e2;}
        &-temperature-minus-42{	background:#80b7e2;}
        &-temperature-minus-40{	background:#86bae3;}
        &-temperature-minus-38{	background:#8bbde3;}
        &-temperature-minus-36{	background:#90bfe4;}
        &-temperature-minus-34{	background:#95c2e5;}
        &-temperature-minus-32{	background:#9bc5e5;}
        &-temperature-minus-30{	background:#a0c7e6;}
        &-temperature-minus-28{	background:#a0c7e6;}
        &-temperature-minus-26{	background:#abcde7;}
        &-temperature-minus-24{	background:#b0cfe8;}
        &-temperature-minus-22{	background:#b5d2e9;}
        &-temperature-minus-20{	background:#bbd5e9;}
        &-temperature-minus-18{	background:#c0d7ea;}
        &-temperature-minus-16{	background:#c5daea;}
        &-temperature-minus-14{	background:#caddeb;}
        &-temperature-minus-12{	background:#d0dfec;}
        &-temperature-minus-10{	background:#d5e2ec;}
        &-temperature-minus-8 {	background:#dae5ed;}
        &-temperature-minus-6 {	background:#e0e7ee;}
        &-temperature-minus-4 {	background:#e5eaee;}
        &-temperature-minus-2 {	background:#eaedef;}
        &-temperature-0       { background:#f0eff0;}
        &-temperature-plus-2  { background:#f0f0ec;}
        &-temperature-plus-4  { background:#f1f0e9;}
        &-temperature-plus-6  { background:#f2f0e6;}
        &-temperature-plus-8  { background:#f3f1e3;}
        &-temperature-plus-10 {	background:#f4f1e0;}
        &-temperature-plus-12 {	background:#f5f2dc;}
        &-temperature-plus-14 {	background:#f5f2d9;}
        &-temperature-plus-16 {	background:#f6f3d6;}
        &-temperature-plus-18 {	background:#f7f3d3;}
        &-temperature-plus-20 {	background:#f8f4d0;}
        &-temperature-plus-22 {	background:#f8f1c8;}
        &-temperature-plus-24 {	background:#f9eec0;}
        &-temperature-plus-26 {	background:#f9ebb9;}
        &-temperature-plus-28 {	background:#f9e8b1;}
        &-temperature-plus-30 {	background:#fae5aa;}
        &-temperature-plus-32 {	background:#fae3a3;}
        &-temperature-plus-34 {	background:#fae09c;}
        &-temperature-plus-36 {	background:#fbde96;}
        &-temperature-plus-38 {	background:#fbdb8f;}
        &-temperature-plus-40 {	background:#fbd988;}
        &-temperature-plus-42 {	background:#fcd682;}
        &-temperature-plus-44 {	background:#fcd47b;}
        &-temperature-plus-46 {	background:#fcd174;}
        &-temperature-plus-48 {	background:#fdcf6e;}
        &-temperature-plus-50 {	background:#fdcc67;}
        &-temperature-plus-52 {	background:#fdca60;}
        &-temperature-plus-54 {	background:#fec759;}
        &-temperature-plus-56 {	background:#fec553;}
        &-temperature-plus-58 {	background:#fec24c;}
        &-temperature-plus-60 {	background:#ffc045;}

        .forecast_hours__value {
            position: absolute;
            display: inline-block;
            width: 100%;
            text-align: center;
            font-size: 1vw;
            top: calc(-1vw - 5px);
        }
    }

}


