.header
{
    margin-bottom: 50px;
}

.header__logo
{
    float: left;
}

.header_search__label
{
    line-height: 29px;

    position: relative;

    display: inline-block;
    float: left;

    margin-left: 24px;
    padding: 2px;

    background: #ffca00;
}

.header_search__label-link
{
    font-size: 16px;
    line-height: 31px;

    display: inline-block;

    padding: 0 15px;

    text-decoration: none;

    color: #000;
    background: #fff;
}

.header_search__label:before
{
    position: absolute;
    top: 0;
    right: -6px;

    width: 0;
    height: 0;

    content: '';

    color: #ffca00;
    border-width: 17px 0 17px 6px;
    border-style: solid;
    border-color: transparent transparent transparent #ffca00;
}

.header_search__label:after
{
    position: absolute;
    top: 2px;
    right: -4px;

    width: 0;
    height: 0;

    content: '';

    color: #fff;
    border-width: 15px 0 15px 6px;
    border-style: solid;
    border-color: transparent transparent transparent #fff;
}

.header_search__input
{
    font-size: 15px;

    float: left;

    width: 190px;
    height: 31px;
    margin-left: -6px;

    text-indent: 14px;

    border: 1px solid rgba(0, 0, 0, .2);
}

.button-search
{
    font-size: 15px;

    height: 35px;
    margin-left: -1px;

    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
