.current-weather__collection{
    display: inline-block;
}
.curent-weather__layout{
    padding:8px 10px ;
}

.curent-weather__layout_state_now{
    width: 152px;
}

.curent-weather__layout_state_day{
    width: 152px;
}

.curent-weather__layout_state_tonight{
    width: 152px;
}

.curent-weather__layout_state_night{
    width: 152px;
}
