.temp-color_-60,.temp-color_-59 {
    background-color: #519fdd;
}

.temp-color_-58,.temp-color_-57 {
    background-color: #56a2dd;
}

.temp-color_-56,.temp-color_-55 {
    background-color: #5ba5de;
}

.temp-color_-54,.temp-color_-55 {
    background-color: #60a7de;
}

.temp-color_-52 {
    background-color: #66aadf;
}

.temp-color_-50 {
    background-color: #6bade0;
}

.temp-color_-48 {
    background-color: #70afe0;
}

.temp-color_-46 {
    background-color: #76b2e1;
}

.temp-color_-44 {
    background-color: #7bb5e2;
}

.temp-color_-42 {
    background-color: #80b7e2;
}

.temp-color_-40 {
    background-color: #86bae3;
}

.temp-color_-38 {
    background-color: #8bbde3;
}

.temp-color_-36 {
    background-color: #90bfe4;
}

.temp-color_-34 {
    background-color: #95c2e5;
}

.temp-color_-32 {
    background-color: #9bc5e5;
}

.temp-color_-30 {
    background-color: #a0c7e6;
}

.temp-color_-28 {
    background-color: #a0c7e6;
}

.temp-color_-26 {
    background-color: #abcde7;
}

.temp-color_-24 {
    background-color: #b0cfe8;
}

.temp-color_-22 {
    background-color: #b5d2e9;
}

.temp-color_-20 {
    background-color: #bbd5e9;
}

.temp-color_-18 {
    background-color: #c0d7ea;
}

.temp-color_-16 {
    background-color: #c5daea;
}

.temp-color_-14 {
    background-color: #caddeb;
}

.temp-color_-12 {
    background-color: #d0dfec;
}

.temp-color_-10 {
    background-color: #d5e2ec;
}

.temp-color_-8 {
    background-color: #dae5ed;
}

.temp-color_-6 {
    background-color: #e0e7ee;
}

.temp-color_-4 {
    background-color: #e5eaee;
}

.temp-color_-2 {
    background-color: #eaedef;
}

.temp-color_0 {
    background-color: #f0eff0;
}

.temp-color_2 {
    background-color: #f0f0ec;
}

.temp-color_4 {
    background-color: #f1f0e9;
}

.temp-color_6 {
    background-color: #f2f0e6;
}

.temp-color_8 {
    background-color: #f3f1e3;
}

.temp-color_10 {
    background-color: #f4f1e0;
}

.temp-color_12 {
    background-color: #f5f2dc;
}

.temp-color_14 {
    background-color: #f5f2d9;
}

.temp-color_15 {
    background-color: #f6f3d6;
}

.temp-color_16 {
    background-color: #f6f3d6;
}

.temp-color_18 {
    background-color: #f7f3d3;
}

.temp-color_20 {
    background-color: #f8f4d0;
}

.temp-color_22 {
    background-color: #f8f1c8;
}

.temp-color_24 {
    background-color: #f9eec0;
}

.temp-color_26 {
    background-color: #f9ebb9;
}

.temp-color_28 {
    background-color: #f9e8b1;
}

.temp-color_30 {
    background-color: #fae5aa;
}

.temp-color_32 {
    background-color: #fae3a3;
}

.temp-color_34 {
    background-color: #fae09c;
}

.temp-color_36 {
    background-color: #fbde96;
}

.temp-color_38 {
    background-color: #fbdb8f;
}

.temp-color_40 {
    background-color: #fbd988;
}

.temp-color_42 {
    background-color: #fcd682;
}

.temp-color_44 {
    background-color: #fcd47b;
}

.temp-color_46 {
    background-color: #fcd174;
}

.temp-color_48 {
    background-color: #fdcf6e;
}

.temp-color_50 {
    background-color: #fdcc67;
}

.temp-color_52 {
    background-color: #fdca60;
}

.temp-color_54 {
    background-color: #fec759;
}

.temp-color_56 {
    background-color: #fec553;
}

.temp-color_58 {
    background-color: #fec24c;
}

.temp-color_60 {
    background-color: #ffc045;
}
